<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout Beats</title>
</head>
<body>

    <article class="pedido">
        <h1 class="pedido__titulo">Resumen</h1>
        <div class="pedido__info">
            <p class="pedido__nombre">Calex</p>
            <p class="pedido__direccion">Dirección</p>
            <p class="pedido__correo">Correo</p>
        </div>

        <div class="dir__resumen">
            <h2 class="dir__resumen-titulo">Resumen de tu pedido</h2>

            <div class="dir__resumen-fila">
                <p class="dir__texto-res">Productos</p>
                <p class="dir__texto-der">10</p>
            </div>

            <div class="dir__resumen-fila">
                <p class="dir__texto-res">Subtotal</p>
                <p class="dir__texto-der">$650.25</p>
            </div>

            <div class="dir__resumen-fila">
                <p class="dir__texto-res">Envío</p>
                <p class="dir__texto-der">$0</p>
            </div>

            <div class="dir__resumen-fila">
                <p class="dir__texto-res">Total</p>
                <p class="dir__texto-der">$650.25</p>
            </div>
            
            <button class="agregar">Procesar compra</button>
        </div>

    </article>
    
</body>
</html>