<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Style/tienda.css">
    <link rel="stylesheet" href="/Style/main.css">


    <title>Carrito Beats</title>


</head>
<body>

    <article class="dir">

        <div class="dir__inputs">

            <h1 class="dir__titulo">Dirección de envio</h1>

            <p class="dir__texto">Nombre</p>
            <input class="dir__input" type="text" placeholder="Nombre">

            <p class="dir__texto">Apellido</p>
            <input class="dir__input" type="text" placeholder="Apellido">

            <p class="dir__texto">Dirección</p>
            <input class="dir__input" type="text" placeholder="Dirección">

            <p class="dir__texto">Correo</p>
            <input class="dir__input" type="text" placeholder="corre@beats.co">
        </div>


        <div class="dir__resumen">
            <h2 class="dir__resumen-titulo">Resumen de tu pedido</h2>

            <div class="dir__resumen-fila">
                <p class="dir__texto">Productos</p>
                <p class="dir__texto-der">10</p>
            </div>

            <div class="dir__resumen-fila">
                <p class="dir__texto">Subtotal</p>
                <p class="dir__texto-der">$650.25</p>
            </div>

            <div class="dir__resumen-fila">
                <p class="dir__texto">Envío</p>
                <p class="dir__texto-der">$0</p>
            </div>

            <div class="dir__resumen-fila">
                <p class="dir__texto">Total</p>
                <p class="dir__texto-der">$650.25</p>
            </div>
            
            <button class="producto__agregar">Procesar compra</button>
        </div>
        

    </article>

    <article class="met">
        <div class="met__tarjeta">

            <h1 class="met__titulo">Método de pago</h1>
             <p class="dir__texto">Tarjeta de crédito</p>
             <p class="dir__texto">Nombre del titular</p>

             <input class="dir__input" type="text" placeholder="Nombre del titular de la tarjeta">

             <div class="met__fecha">
                 <div class="met__mes">
                      <p class="dir__texto">Mes de expedición</p>
                      <input class="dir__inputCod" type="text" placeholder="Mayo">
                 </div>
                     
                 <div class="met__an">
                     <p class="dir__texto">Año de expedición</p>
                     <input class="dir__inputCod" type="text" placeholder="2019">
             </div>

             </div>
            
        </div>

        <div class="met__num">

            <p class="dir__texto">Número de tarjeta</p>
            <input class="dir__input" type="text" placeholder="123456789">

            <p class="dir__texto">Código de seguridad</p>
            <input type="password" class="dir__inputCod" type="text" placeholder="****">

        </div>
        
    </article>
    
</body>

    <footer class="footer">

        <div class="footer__izq">
            <div class="footer__info">
                <p class="footer__izq-text">Terminos y condiciones</p>
                <p class="footer__izq-text">Politicas de privacidad</p>
                <p class="footer__izq-text">Beatsaudio</p>
            </div>
        </div>
        <div class="footer__cen">
            <h1 class="footer__cen-titulo">Beats</h1>
            <h2 class="footer__cen-subtitulo"><span class="footer__cen-span">By</span> Dr. Dree</h2>
            <div class="footer__redes">
                <a href="https://es-la.facebook.com/beatsbydre/" target="blank">
                    <div class="primero__red-icon" style="background-image:url(/Imagenes/facebook-r.png)"></div>
                </a>
                <a href="https://www.youtube.com/channel/UCSszI_zUkVVA24WVuTYpHTQ" target="blank">
                    <div class="primero__red-icon" style="background-image:url(/Imagenes/youtube-r.png)"></div>
                </a>
                <a href="https://www.instagram.com/beatsbydre/?hl=es-la" target="blank">
                    <div class="primero__red-icon" style="background-image:url(/Imagenes/instagram-r.png)"></div>
                </a>
                <a href="https://www.reddit.com/r/beatsbydre/" target="blank">
                    <div class="primero__red-icon" style="background-image:url(/Imagenes/reddit-r.png)"></div>
                </a>
            </div>

            <div class="footer__redes-line"></div>
            <div class="footer__logo" style="background-image:url(/Imagenes/b_roja.png)"></div>

            <p class="footer__cent-copy">Copyright © 2019 Apple Inc. Todos los derechos reservados.</p>
        </div>
        <div class="footer__der">
            <div class="footer__info">
                <p class="footer__der-text">Soporte</p>
                <p class="footer__der-text">Productos</p>
                <p class="footer__der-text">Contacto</p>
            </div>
        </div>
    </footer>

</html>